Repository code-crusade/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --config .prettierrc --write, tslint --fix

.lintstagedrc:

{
  "*.{js,css,less,scss}": ["eslint --fix", "prettier --config .prettierrc --write", "git add"],
  "*.{ts,tsx}": ["tslint --fix", "prettier --config .prettierrc --write", "git add"]
}

Delete .idea folder
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/compiler.xml
  .idea/frontend.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  yarn.lock
Due: none

Remove unused dependencies, change default exports to named exports
  .idea/workspace.xml
  package.json
  src/modules/exercises/epics.ts
  src/modules/exercises/index.ts
  src/modules/exercises/reducer.ts
  src/store/index.ts
  src/store/root-reducer.ts
Due: prettier --config .prettierrc --write, tslint --fix

Remove yarn
  .travis.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

Minor changes
  .idea/workspace.xml
  src/modules/exercises/epics.ts
  src/modules/home.tsx
  src/routes/index.tsx
  src/store/root-epic.ts
  src/types/actions.d.ts
  src/types/types.d.ts
Due: prettier --config .prettierrc --write, tslint --fix

Add redux-logger
  package-lock.json
  package.json
  src/store/index.ts
Due: prettier --config .prettierrc --write, tslint --fix

Import blueprint
  public/index.html
  src/index.tsx
  tslint.json
Due: prettier --config .prettierrc --write, tslint --fix

Ignore App render test
  src/App.test.tsx
Due: prettier --config .prettierrc --write, tslint --fix

Add Navbar, add Monaco Editor
  .lintstagedrc
  config-overrides.js
  package-lock.json
  package.json
  src/App.tsx
  src/hocs/omitProps.ts
  src/hocs/withLoggedInUser.tsx
  src/modules/exercises/Routes.tsx
  src/modules/exercises/components/ExercisesRead.tsx
  src/modules/exercises/epics.ts
  src/modules/exercises/pages/Read.tsx
  src/modules/exercises/selectors.ts
  src/modules/ui/components/Layout.tsx
  src/modules/ui/components/NavBar.tsx
  src/routes/index.tsx
  src/services/historyService.ts
  src/services/index.ts
  tslint.json
Due: eslint --fix, prettier --config .prettierrc --write, tslint --fix

Add MonacoWebpackPlugin
  config-overrides.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --config .prettierrc --write

Add server mocking
  .env.local
  .gitignore
  README.md
  package-lock.json
  package.json
  src/modules/exercises/components/ExercisesRead.tsx
  src/modules/exercises/epics.ts
  src/modules/exercises/hocs/withExercise.tsx
  src/modules/exercises/hocs/withExercises.tsx
  src/modules/exercises/models.ts
  src/modules/exercises/pages/Read.tsx
  src/modules/exercises/selectors.ts
  src/services/index.ts
  src/services/mockApi/exercises/index.ts
  src/services/mockApi/index.ts
  src/test/data/exercices.ts
  src/test/data/exercises.ts
  src/types/types.d.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, tslint --fix

Fix routing bug, add .env to gitignore, fix exercise read rendering
  package-lock.json
  package.json
  src/components/Err404.tsx
  src/components/Loading.tsx
  src/modules/exercises/Routes.tsx
  src/modules/exercises/components/ExercisesRead.tsx
  src/modules/exercises/hocs/withExercise.tsx
  src/modules/exercises/hocs/withExercises.tsx
  src/modules/exercises/pages/Read.tsx
  src/modules/exercises/reducer.ts
  src/modules/exercises/selectors.ts
  src/routes/index.tsx
  src/services/mockApi/exercises/index.ts
Due: prettier --config .prettierrc --write, tslint --fix

Add dashboard page
  src/modules/dashboard/pages/Browse.tsx
  src/modules/home.tsx
  src/modules/ui/components/NavBar.tsx
  src/routes/index.tsx
Due: prettier --config .prettierrc --write, tslint --fix

First try exercices table
  package-lock.json
  src/index.tsx
  src/modules/exercises/Routes.tsx
  src/modules/exercises/pages/Browse.tsx
  src/modules/ui/components/Layout.tsx
  tslint.json
Due: prettier --config .prettierrc --write, tslint --fix

Use HTMLTable instead of Blueprint Table
  src/modules/exercises/pages/Browse.tsx
  src/modules/ui/components/Layout.tsx
Due: prettier --config .prettierrc --write, tslint --fix

Cleaner way to change route with Button
  package-lock.json
  src/index.tsx
  src/modules/exercises/pages/Browse.tsx
Due: prettier --config .prettierrc --write, tslint --fix

Use withExercises
  src/modules/exercises/pages/Browse.tsx
  src/modules/ui/components/Layout.tsx
Due: prettier --config .prettierrc --write, tslint --fix

Minor changes
  src/modules/dashboard/pages/Browse.tsx
  src/modules/exercises/pages/Browse.tsx
Due: prettier --config .prettierrc --write, tslint --fix

Section env. variables
  README.md
Due: none

Minor update Readme
  README.md
Due: none

Add exercise submission state management
  .env.local
  src/App.tsx
  src/components/Err404.tsx
  src/components/Loading.tsx
  src/hocs/withLoggedInUser.tsx
  src/modules/exercises/actions.ts
  src/modules/exercises/components/ExercisesRead.tsx
  src/modules/exercises/epics.ts
  src/modules/exercises/hocs/withExercise.tsx
  src/modules/exercises/hocs/withExerciseSubmissions.tsx
  src/modules/exercises/index.ts
  src/modules/exercises/models.ts
  src/modules/exercises/pages/Read.tsx
  src/modules/exercises/reducers/exerciseSubmissionsReducer.ts
  src/modules/exercises/reducers/exercisesReducer.ts
  src/modules/exercises/selectors.ts
  src/modules/ui/components/Layout.tsx
  src/modules/ui/components/NavBar.tsx
  src/services/index.ts
  src/services/mockApi/exerciseSubmissions/index.ts
  src/services/mockApi/exercises/index.ts
  src/services/mockApi/index.ts
  src/store/root-reducer.ts
  src/test/data/exerciseSubmissions.ts
  src/test/data/exercises.ts
  src/test/data/index.ts
Due: prettier --config .prettierrc --write, tslint --fix

Fix layout
  src/App.tsx
  src/modules/exercises/components/ExercisesBrowse.tsx
  src/modules/exercises/components/ExercisesRead.tsx
  src/modules/exercises/hocs/withExercises.tsx
  src/modules/exercises/pages/Browse.tsx
  src/modules/exercises/pages/Read.tsx
  src/modules/ui/components/Layout.tsx
  src/modules/ui/components/NavBar.tsx
Due: prettier --config .prettierrc --write, tslint --fix

Add structure for user/auth modules
  src/config/enums/index.ts
  src/modules/auth/Routes.tsx
  src/modules/auth/actions.ts
  src/modules/auth/epics.ts
  src/modules/auth/hocs/withLoggedInUser.tsx
  src/modules/auth/index.ts
  src/modules/auth/models.ts
  src/modules/auth/reducer.ts
  src/modules/auth/selectors.ts
  src/modules/exercises/components/ExercisesRead.tsx
  src/modules/exercises/hocs/withExerciseSubmissions.tsx
  src/modules/exercises/models.ts
  src/modules/exercises/pages/Read.tsx
  src/modules/exercises/selectors.ts
  src/modules/ui/components/Layout.tsx
  src/modules/users/Routes.tsx
  src/modules/users/actions.ts
  src/modules/users/epics.ts
  src/modules/users/hocs/withUser.tsx
  src/modules/users/hocs/withUsers.tsx
  src/modules/users/index.ts
  src/modules/users/models.ts
  src/modules/users/reducers/usersReducer.ts
  src/modules/users/selectors.ts
  src/routes/index.tsx
  src/services/mockApi/index.ts
  src/services/mockApi/users/index.ts
  src/store/index.ts
  src/store/root-epic.ts
  src/store/root-reducer.ts
  src/test/data/exerciseSubmissions.ts
  src/test/data/exercises.ts
  src/test/data/index.ts
  src/test/data/users.ts
  src/types/actions.d.ts
Due: prettier --config .prettierrc --write, tslint --fix

PR reviews fixes
  src/modules/exercises/components/ExercisesRead.tsx
  src/modules/exercises/models.ts
  src/modules/exercises/pages/Read.tsx
Due: prettier --config .prettierrc --write, tslint --fix

Replace C# by Javascript, generate code from template
  src/config/enums/index.ts
  src/helpers/index.ts
  src/modules/exercises/components/ExercisesRead.tsx
  src/modules/exercises/models.ts
  src/modules/exercises/pages/Read.tsx
  src/test/data/exercises.ts
  src/types/types.d.ts
  tslint.json
Due: prettier --config .prettierrc --write, tslint --fix

Disable build in Travis for now
  .travis.yml
Due: none

Add exercise creation
  package-lock.json
  package.json
  src/App.tsx
  src/components/styled/JustifyRight.tsx
  src/config/enums/index.ts
  src/helpers/index.ts
  src/modules/dashboard/pages/Browse.tsx
  src/modules/exercises/Routes.tsx
  src/modules/exercises/components/ExercisesAdd.tsx
  src/modules/exercises/components/ExercisesAddForm.tsx
  src/modules/exercises/components/ExercisesBrowse.tsx
  src/modules/exercises/models.ts
  src/modules/exercises/pages/Add.tsx
  src/modules/exercises/pages/Browse.tsx
  src/services/mockApi/exercises/index.ts
  src/test/data/exercises.ts
  src/types/types.d.ts
Due: prettier --config .prettierrc --write, tslint --fix

Add prepended/appended code to exercises add form
  package-lock.json
  package.json
  src/components/styled/JustifyRight.tsx
  src/helpers/index.ts
  src/modules/exercises/components/EditorTabs.tsx
  src/modules/exercises/components/ExercisesAdd.tsx
  src/modules/exercises/components/ExercisesAddForm.tsx
  src/modules/exercises/components/ExercisesAddFormik.tsx
  src/modules/exercises/models.ts
  src/modules/exercises/pages/Add.tsx
  src/modules/exercises/pages/Read.tsx
  src/test/data/exercises.ts
Due: prettier --config .prettierrc --write, tslint --fix

Add basic login template
  src/modules/auth/Routes.tsx
  src/modules/auth/components/Login.tsx
  src/modules/auth/components/LoginForm.tsx
  src/modules/auth/components/LoginFormik.tsx
  src/modules/auth/models.ts
  src/modules/auth/pages/Login.tsx
  src/modules/ui/components/NavBar.tsx
  src/modules/users/models.ts
  src/routes/index.tsx
  src/test/data/users.ts
  src/types/types.d.ts
  tslint.json
Due: prettier --config .prettierrc --write, tslint --fix

Connected login component
  src/modules/auth/actions.ts
  src/modules/auth/components/Login.tsx
  src/modules/auth/components/LoginForm.tsx
  src/modules/auth/components/LoginFormik.tsx
  src/modules/auth/models.ts
  src/modules/auth/pages/Login.tsx
  src/modules/auth/reducer.ts
  src/modules/users/models.ts
Due: prettier --config .prettierrc --write, tslint --fix

Add UnitTest model & test-data
  src/modules/exercises/models.ts
  src/test/data/exercises.ts
Due: prettier --config .prettierrc --write, tslint --fix

Trying to send form values
  src/modules/auth/actions.ts
  src/modules/auth/components/Login.tsx
  src/modules/auth/components/LoginForm.tsx
  src/modules/auth/components/LoginFormik.tsx
  src/modules/auth/pages/Login.tsx
Due: prettier --config .prettierrc --write, tslint --fix

Dark navbar with buttons and beautiful rabbit
  public/images/rabbit.svg
  src/index.tsx
  src/modules/dashboard/pages/Browse.tsx
  src/modules/exercises/components/ExercisesBrowse.tsx
  src/modules/ui/components/NavBar.tsx
Due: prettier --config .prettierrc --write, tslint --fix

Group add page
  package-lock.json
  package.json
  src/components/.keep
  src/config/enums/index.ts
  src/helpers/index.ts
  src/modules/auth/components/Login.tsx
  src/modules/auth/components/LoginForm.tsx
  src/modules/groups/Routes.tsx
  src/modules/groups/components/DragAndDrop.tsx
  src/modules/groups/components/GeneratedTable.tsx
  src/modules/groups/components/GroupsAdd.tsx
  src/modules/groups/components/GroupsAddForm.tsx
  src/modules/groups/pages/Add.tsx
  src/modules/ui/components/NavBar.tsx
  src/routes/index.tsx
  tslint.json
Due: prettier --config .prettierrc --write, tslint --fix

Can import students in excel format, yay!
  package-lock.json
  package.json
  public/images/rabbit.svg
  src/helpers/index.ts
  src/modules/groups/components/DragAndDrop.tsx
  src/modules/groups/components/GeneratedTable.tsx
  src/modules/groups/components/GroupsAdd.tsx
  src/modules/groups/components/GroupsAddForm.tsx
  src/modules/groups/components/StudentsTable.tsx
  src/modules/groups/models.ts
  src/modules/groups/pages/Add.tsx
Due: prettier --config .prettierrc --write, tslint --fix

Add Formik and connect GroupsAdd
  src/config/enums/index.ts
  src/modules/auth/pages/Login.tsx
  src/modules/groups/actions.ts
  src/modules/groups/components/GroupsAdd.tsx
  src/modules/groups/components/GroupsAddForm.tsx
  src/modules/groups/components/StudentsTable.tsx
  src/modules/groups/epics.ts
  src/modules/groups/helpers.ts
  src/modules/groups/index.ts
  src/modules/groups/models.ts
  src/modules/groups/pages/Add.tsx
  src/modules/groups/reducers.ts
  src/services/mockApi/groups/index.ts
  src/services/mockApi/index.ts
  src/store/root-epic.ts
  src/store/root-reducer.ts
  src/types/actions.d.ts
  src/types/types.d.ts
Due: prettier --config .prettierrc --write, tslint --fix

Document steps to launch app
  README.md
Due: none

Well...
  README.md
Due: none

Add UnitTest model & test-data
  package-lock.json
  src/modules/exercises/models.ts
  src/test/data/exercises.ts
Due: prettier --config .prettierrc --write, tslint --fix

Remove Object and Object[] from valid return types
  src/config/enums/index.ts
  src/helpers/index.ts
  src/modules/exercises/components/TemplatePanel.tsx
Due: prettier --config .prettierrc --write, tslint --fix
